/* .form{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input{
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

.button{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.field{
    height: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
} */